/*
                                                                                                                                                                
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
===!>									ALL
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
                                                                                                                                                                
*/
*,
*::before,
*::after
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

/*
********************************************************************************
===!>									html
*********************************************************************************
*/

html
{
    font-size: 10px;
    background-color: #040402;
}

/*
                                                                                                                                                                
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
===!>									header
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
                                                                                                                                                                
*/



.header
{
    width: 80%;
    height: 5rem;
    background-color: #040402;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: font-1;
    margin: auto;
}

.header .head__h1
{
    color: white;
    font-size: 3.5rem;
}

.header .head__ul
{

  position: relative;
  right: 7rem;
  display: flex;
  gap: 5rem;

}

.header .head__ul li a
{
    color: white;
    font-size: 1.5rem;
}


/*
                                                                                                                                                                
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
===!>									Home
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
                                                                                                                                                                
*/

.main__home
{
    
    position: relative;
}

.main__home .home__img
{   
    width: 100%;
    height: calc(100vh - 5rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}




.home__text
{
    position: absolute;
    top: 25%;
    left: 14%;
}

.main__home .home__text h1 
{ 
    font-size: 72px;
    background: linear-gradient(#2e48da, #7c89d1fd);
    background-clip: text;
    color: transparent;

}
.main__home .home__text h3
{ 
    font-size: 72px;
    background: rgba(255, 255, 255, 0.801);
    background-clip: text;
    -webkit-text-fill-color: transparent;


}

.main__home .home__text h1
{
    font-size: 7rem;
    font-family: font-2;
}
.main__home .home__text h3
{
    font-size: 3rem;
    font-family: font-5;
    position: relative;
    left: 15rem;
}

.home__text .home__btn
{
    position: absolute;
    left: 46rem;
    top: 28rem;
    font-size: 3rem;
}

.home__text .home__btn a
{
    color: #2e48da;
    padding: 1rem 5rem;
    border: 2px #2e48da solid;
    background-color: transparent;
    
    /* ============= trisition ============= */
    transition: all 0.5s;
}

.home__btn a:hover
{
    color: #1e1e1c;
    border: transparent;
    background-color: white;
}

/*
                                                                                                                                                                
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
===!>									Services
==============================================================================================================================================================
==============================================================================================================================================================
==============================================================================================================================================================
                                                                                                                                                                
*/

.services
{
    width: 100%;
    height: 300vh;
    color: rgba(255, 255, 255, 0.685);
    background-color: #111111;
    
}

/*
********************************************************************************
===!>									main
*********************************************************************************
*/
.services .ser__main h1
{
    font-size: 3.5rem;
    color: white;
    font-family: font-1;
}

.services .ser__main
{
    padding-left: calc(50% - 70px);
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/*
********************************************************************************
===!>								services box
*********************************************************************************
*/

.serviceBox{
    width: 75%;
    margin: auto;
    margin-bottom: 10rem;
    height: 42rem;
    background: #485ed7;
    border-radius: 50% 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.serviceBox:before{
    content: "";
    background: #202020;
    width: 100%;
    height: 100%;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.452);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}


.serviceBox3{
    width: 75%;
    margin: auto;
    margin-bottom: 10rem;
    height: 46rem;
    background: #485ed7;
    border-radius: 50% 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.serviceBox3:before{
    content: "";
    background: #202020;
    width: 100%;
    height: 100%;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.452);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.serviceBox4{
    width: 75%;
    margin: auto;
    margin-bottom: 10rem;
    height: 50rem;
    background: #485ed7;
    border-radius: 50% 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.serviceBox4:before{
    content: "";
    background: #202020;
    width: 100%;
    height: 100%;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.452);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}


/*
********************************************************************************
===!>									topic
*********************************************************************************
*/

.ser__topic
{
    font-size: 3rem;
    color: #485dd7;
    font-family: font-1;
}


/*
********************************************************************************
===!>									text
*********************************************************************************
*/

.services .ser__text
{
    margin-top: 30px;
    font-size: 2.5rem;
    font-family: font-5;
}

.services .ser__text-1
{
    margin-top: 20px;
    font-size: 2rem;
}

#ser__text__one
{
    margin-top: 3rem;
    font-size: 1.5rem;
}
/*
********************************************************************************
===!>									detail
*********************************************************************************
*/

.services .ser__detail
{
    padding-top: 20px;
    font-size: 2.5rem;
    position: relative;
    font-family: font-3;
}
.services .ser__detail #ser__one
{
    position: relative;
    left: -1px;

}
.services .ser__detail #ser__two
{
    position: relative;
    left: -1px;

}
.services .ser__detail #ser__three
{
    position: relative;
    left: 2px;
}

/*
********************************************************************************
===!>									ser btn
*********************************************************************************
*/

.services .ser__btn
{
    margin-top: 40px;
}


.services .ser__btn a
{
    padding: 10px 20px;
    background-color: #2e48da;
    font-size: 2rem;
    border-radius: 25px 0 ;
    color: white;
    font-weight: 900;
    font-family: font-3;
    border: 2px solid transparent;

    transition: all 1s;
}

.services .ser__btn a:hover
{
    background-color: transparent;
    border: 2px solid white;
    color: #2e48da;
}
